* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.form-container {
  width: 500px;
  margin: 50px auto;
  margin-top: 70px;
}

.input {
  width: 90%;
}

.state {
  width: 424.8px;
  cursor: pointer;
}

.submit {
  width: 424.8px;
}
